/*
============================
  Tables and tabular data
============================
*/

.table--selectable {
  tbody tr,
  .list--table__body {
    &:not(.hover-override):hover {
      background-color: mix($azure, $white, 15%);
    }
  }
}

.table--striped-light {
  tbody tr,
  .list--table__body {
    background-color: $white;

    &:nth-child(even) {
      background-color: lighten($off-white, 1.25%);
    }
  }
}

.table-light--sectioned {
  > .list--table__body,
  > tr {
    border-color: $table-color;
    border-style: solid;
    border-width: 2px 2px 0;

    &:first-child {
      border-top-width: 0;
    }
  }
}

/*---------------------
table actions
*/


.table__actions {
  width: 100%;

  .btn {
    @include respond-max(25em) {
      margin-top: 1rem;
    }
  }

  &.split {
    @include respond-max(25em) {
      float: left;
      text-align: left;
    }
  }
}

.table__action {
  display: inline-block;
  margin: 0 1em 0 0;
  line-height: 2.5;
  text-decoration: none;
  vertical-align: bottom;

  .table__action__text {
    text-decoration: underline;
  }

  @include respond-min($bp-tablet) {
    line-height: 3.5;
  }
}
